/*
Theme Name: jpaproductions
Theme URI: http://crestinfotech.com
Author: Rakshit Patel
Author URI: http://crestinfotech.com
Description:
Version: 11.0.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: jpaproductions
Tags:
*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

@font-face {
    font-family: 'Roboto-regular';
    src: url('assets/fonts/Roboto-Regular.eot');
    src: local('☺'), url('assets/fonts/FontsFree-Net-Roboto-Regular.woff') format('woff'), url('assets/fonts/FontsFree-Net-Roboto-Regular.ttf') format('truetype'), url('assets/fonts/FontsFree-Net-Roboto-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    font-family: 'Roboto-Regular';
    color: #000;
}

* {
    line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    line-height: normal;
}

p {
    margin-bottom: 15px;
}

a {
    outline: none;
    color: #003883;
}

a:hover,
a:focus {
    color: #1d9f9e;
    outline: none;
}

button,
button:focus {
    outline: none;
}

br {
    line-height: 0;
}

/*<============== css start ==============>*/
/*<============== utkarsh start ==============>*/

.navbar {
    padding: 0 !important;
}

.header-menu {
    position: absolute;
    top: 30px;
    background-color: transparent;
    z-index: 99999;
    left: 0;
    right: 0;
}

.header-menu img {
    width: 100%;
    max-width: 300px;
}

.header-menu a {
    color: #000;
    padding-left: 15px;
    padding-right: 13px;
    font-size: 16px;
    text-transform: uppercase;
}

.header-menu a:hover {
    color: #1d9f9e;
}

.footer-menu {
    display: flex;
}

.footer-menu a {
    color: #fff;
    padding-right: 50px;
    padding-left: 50px;
    line-height: 30px;
}

.footer-menu a:hover {
    color: #1d9f9e;
}

.footer.site-footer {
    background-color: #000;
    padding-top: 40px;
    padding-bottom: 40px;
}

.email-form {
    display: flex;
    padding-right: 50px;
}

.email-form .wpcf7-form-control {
    display: block;
    max-width: 200px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #000 !important;
    background-color: #000;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.email-form .wpcf7-form-control.wpcf7-submit {
    max-width: 50px;
    background-color: #f5f1f1;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #fff;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: #fff;
    opacity: 1;
}

::placeholder {
    color: #fff;
    opacity: 1;
}

.email-form .wpcf7-not-valid-tip {
    color: #dc3232;
    font-size: 1em;
    font-weight: normal;
    display: block;
    position: absolute;
}

.copy-right {
    color: #ffffff;
    text-align: center;
}

.footer_text p {
    color: #fff;
}

.email-text {
    color: #fff;
}

.vc_custom_heading {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 60px;
}

.custom_id {
    position: relative;
    padding-top: 65px;
}

.custom_id::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 170px;
    background-color: grey;
    z-index: -1;
    opacity: 0.5;
}

.custom_text {
    padding-top: 70px;
}

.custom_text p {
    max-width: 400px;
    line-height: 25px;
    margin-top: 34px;
    font-size: 14px;
}

.custom_product:hover {
    background-color: #000;
    color: #fff;
    display: block;
}

.custom_product {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.product_box:hover .custom_product {
    display: block;
}

.custom-tag {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    color: #000
}

.custom_title {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right: 0;
    text-align: center;
    color: #000
}

.custom_design {
    max-width: 800px;
    margin: 0 auto;
}

.custom_product:hover .product-tag {
    text-align: center;
    text-transform: uppercase;
}

.custom_product:hover .product-title {
    text-align: center;
    margin-top: 24px;
}

.custom_product:hover .product-text {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}

.col-md-4.custom_box {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 370px !important;
}

.site-main h1 {
    font-size: 35px;
    margin-top: 70px;
}

.site-main p {
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 50px;
}

.site-main {
    margin-bottom: 50px;
}

.product-all {
    position: relative;
}

.product-all-title {
    position: absolute;
    top: 50px;
    left: 55px;
    right: 0;
    color: gray;
}

.product-all-title h3 {
    text-transform: uppercase;
}

.product-all-text {
    max-width: 1400px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    text-align: center
}

.product-img img {
    width: 100%;
    height: auto;
    display: block;
}

.product-img {
    margin-top: 15px;
    overflow: hidden;
}

.product_box {
    position: relative;
}

.about-all-img img {
    width: 100%;
    height: auto;
}

.about-product {
    display: flex;
    margin-top: 150px;
}

.facebook-tb {
    display: flex;
}

a.icon_set img {
    max-width: 20px;
    margin: 0 auto;
    vertical-align: middle;
    display: inline-block;
}

a.icon_set p {
    padding-left: 15px;
    display: inline-block;
    margin-bottom: 0;
}

.banner-top {
    position: relative;
}

.banner_text {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    color: #fff;
    text-align: center;
}

.custom_executive {
    margin-top: 20px;
}

.custom_odio p {
    margin-top: 50px !important;
}

.custom_feature {
    position: relative;
}

.custom_feature::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 170px;
    background-color: grey;
    z-index: -1;
    opacity: 0.5;
}

.about-img img {
    width: 100%;
    height: auto;
}

.custom_about p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
}

.custom_about img {
    margin-top: 100px;
}

.custom_head {
    margin-top: 70px;
}

.news-title h3 {
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 20px;
}

.news-title {
    max-width: 550px;
    margin: 0 auto;
}

.news-title p {
    font-size: 16px;
    line-height: 25px;
    max-width: 430px;
}

.single-banner img {
    width: 100%;
}

.single-title {
    text-align: center;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    color: #000;
    font-size: 45px;
    text-transform: uppercase;
}

.container-fluid.banner {
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative
}

.news_box-img {
    margin-bottom: 45px !important;
    margin-top: 90px;
}

.custom_news h2 {
    margin-bottom: 50px;
}

.menu-item a {
    padding-bottom: 15px;
}

.bg_black {
    text-align: center;
    margin-top: 100px;
}

.vc_tta-panels {
    background-color: #fff !important;
    margin-bottom: 40px
}



.custom_tabs a:after{
    content: '';
    position: absolute;
    border: 1px solid #000;
    height: 25px;
    left: 0;
}

.vc_tta-title-text {
    font-size: 20px;
}

.custom_event h3 {
    border-bottom: 1px solid #636363;
}
.footer-menu a {
            color: #fff;
            padding-right: 50px;
            padding-left: 50px;
            line-height: 30px;
        }
        
        .footer-menu a:hover {
            color: #1d9f9e;
        }
        
        footer.site-footer {
            background-color: #000;
            padding-top: 40px;
            padding-bottom: 40px;
        }


@media(max-width: 1199px) {
    .footer-menu a {
        color: #fff;
        padding-right: 25px;
        padding-left: 25px;
        line-height: 30px;
    }

    .custom_title h3 {
        font-size: 24px;
    }

    .product-all-text {
        max-width: 700px;
        font-size: 18px
    }
}

@media(max-width: 991px) {

    .custom_title h3 {}

    .custom_text p {
        max-width: 700px;
        line-height: 20px;
        margin-top: 34px;
        font-size: 14px;
    }

    .email-form {
        display: block;
    }
}

@media(max-width: 768px) {

    .footer-menu {}

    .email-form {
        display: block;
    }

    .footer_top {
        padding-right: 50px;
    }

}

@media(max-width: 575px) {

    .footer-form {}

}

@media(max-width: 768px) {

    .footer-menu {}

    .email-form {
        display: block;
    }

    .footer_top {
        padding-right: 50px;
    }

}

@media(max-width: 575px) {

    .footer-form {}

}